@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;450&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@100;300;400;500&display=swap');

.main{
    display: none;
}
.main-2{
    display: none;
}
.thanks{
    display: none;
}
body{
    overflow-x: hidden !important;
}
.container{
    display: none;
}
*{
    padding: 0;
    margin: 0;
}
@media (max-width:500px) {
  
    .container{
        display: block;
        width: 100%;
        margin: auto;
        /* padding-top: 15px; */
        padding-top: 10px;
        padding-bottom: 10px;
        background: #EEEEEE;
    }
    .block-1{
        display: flex;
        align-items: center;
        gap: 15px;
        position: relative;
        left: 10px;
    }
    .block-2{
        position: relative;
        right: 10px;
    }
    .logoText span{
        font-family: 'Roboto', sans-serif;
        font-size: 17px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.0015em;
        color: #444444;
    }
    .x i{
        font-size: 30px;
        position: relative;
        top: 1px;
    }
    .d_p{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .dots i{
        font-size:25px;
    }
    /* .logo{
        margin-bottom: 10px;
    } */
    .filter-blog{
        display: flex;
        align-items: center;
        gap: 5px;
    }
    .img-filter{
        height: 100%;
    }
    .main{
        width: 96%;
        margin: auto;
        display: block;
        padding-top: 10px;
    }
    .close{
        display: flex;
        justify-content: end;
        margin-bottom: 15px;
    }
    .close button{
        width: 30px;
        height: 30px;
        background: #C4C4C4;
        border-radius: 50%;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 30px;
    }
    .line-blog{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .line-avtive-1,
    .line-avtive-2,
    .line-avtive-3,
    .line-avtive-4,
    .line-avtive-5,
    .line-avtive-6{
        cursor: pointer;
    }
    .line-avtive-1{
        width: 60px;
        height: 5px;
        background: #83A1C9;
        border-radius: 3px;
    }
    .line-avtive-2{
        width: 60px;
        height: 5px;
        background: #E5E5E5;
        border-radius: 3px; 
    }
    .line-avtive-3{
        width: 60px;
        height: 5px;
        background: #E5E5E5;
        border-radius: 3px; 
    }
    .line-avtive-4{
        width: 60px;
        height: 5px;
        background: #E5E5E5;
        border-radius: 3px; 
    }
    .line-avtive-5{
        width: 60px;
        height: 5px;
        background: #E5E5E5;
        border-radius: 3px; 
    }
    .line-avtive-6{
        width: 60px;
        height: 5px;
        background: #E5E5E5;
        border-radius: 3px; 
    }
    .descri{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.0025em;
        color: #444444;
        margin-bottom: 20px;
    }
    .input-element{
        display: flex;
        margin-bottom:25px;
    }
    .input-element input{
        width: 90%;
        height:45px;
        background: #F5F5F5;
        border: none;
        outline: none;
       border-top-left-radius: 8px;
       border-bottom-left-radius: 8px;
       padding-left:5px;
    }
    .input-element button{
        width: 10%;
        border: none;
        background: #F5F5F5;
        outline: none;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        color: #83A1C9;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .checkbox-blog-1{
        display: flex;
        align-items: center;
        gap: 15px;
        position: relative;
        left: 25px;
        margin-bottom: 15px;
        width: 90%;
    } 
.input-checkbox{
    width: 17px;
    height: 17px;
    border: 3px solid #000000;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-text p{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 300;
line-height: 20px;
letter-spacing: 0.35%;
color: #444444;
}
.input-checkbox span{
    font-size:20px;
    position: relative;
    top: 1px;
}
.input-checkbox span {
    display: none;
}

.input-checkbox.active span {
    display: flex;
}
.scroll-checkbox{
    height:400px;
    overflow-x:scroll;
    margin-bottom: 10px;
}
/* .scroll-checkbox::-webkit-scrollbar {
    width: 0px !important;
    height: 0px !important;
    display: none !important;
} */
.input-variant{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.input-variant input{
    width: 82%;
    height:45px;
    border: 1px solid #C4C4C4;
    outline: none;
    border-radius: 8px;
    padding-left:10px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.35%;
    color: #7C7C7C;
}
.input-variant button{
    padding: 20px;
    height: 45px;
    border-radius: 8px;
    background: #83A1C9;
    border: none;
    outline: none;
    box-shadow: 0px 2px 4px 0px #00000026;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-variant button span{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: center;
    color: white;
}
.viber-close{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 30px !important;
}
.viber-close1{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 0 !important;
}
.bnt-x{
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
border-radius: 4px;
gap: 8px;
background: #EEEEEE;
margin-bottom: 25px;
}
.bnt-x span{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #7C7C7C;
}
.close-x{
    display: flex;
    align-items: center;
}
.close-x i{
    color: #7C7C7C;
    cursor: pointer;
}

.viber-close2{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 70px;
}
.bnt-x2{
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
border-radius: 4px;
gap: 8px;
background: #EEEEEE;
}
.bnt-x2 span{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #7C7C7C;
}
.close-x2{
    display: flex;
    align-items: center;
}
.close-x2 i{
    color: #7C7C7C;
    cursor: pointer;
}
.bnt-next{
    width: 96%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    position: fixed;
    background: #fff;
    z-index: 100;
}

.btn-next-prev button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width:109px;
height:40px;
border-radius: 8px;
background: #83A1C9;
box-shadow: 0px 2px 4px 0px #00000026;
border: none;
font-family: 'Roboto', sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.2px;
text-align: center;
color: white;
cursor: pointer;
}
.btn-next-prev button span{
    font-size: 20px;
    position: relative;
    top: 1px;
}
.btn-nazad button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width:109px;
height:40px;
border-radius: 8px;
background: none;
border: none;
font-family: 'Roboto', sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.2px;
text-align: center;
color: #83A1C9;
cursor: pointer;

}
.btn-nazad button span{
    font-size: 22px;
    position: relative;
    top: 1px;
}
#ikincisi{
    display: none;
}
#uchinchisi{
    display: none;
}
.name-deck{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-top: 5px;
}
.input-element-2 input{
width: 99%;
height: 40px;
border-radius: 5px;
border: 1.5px solid #C4C4C4;
outline: none;
margin-bottom: 15px;
}
.bir p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.0025em;
    color: #444444;
}
.bir span{
    font-family: 'Roboto', sans-serif;
font-size: 14px;
font-weight: 300;
line-height: 20px;
letter-spacing: 0.2px;
text-align: center;
color: #7C7C7C;
}
.bottom{
    margin-bottom: 10px;
}
.input-post textarea{
    width: 97%;
    height: 400px;
    border-radius: 5px;
    border: 1px solid #C4C4C4;
    outline: none;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0.25px;
    text-align: left;
margin-bottom: 60px;
}
#tortinchisi{
    display: none;
}
.won-check{
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    left: 21px;
    margin-bottom: 10px;
    width: 90%;
}
.radio input{
    width: 24px;
    height: 24px;
    border: 2px solid black;
    accent-color:black;
}
.radio input[type='radio'] {

}
.radio-text p{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 300;
line-height: 20px;
letter-spacing: 0.35%;
color: #444444;
}
.line-white{
    width: 100%;
    height:1px;
    background: #C4C4C4;
    border-radius: 2px;
    margin-bottom: 25px;
}
.d_f{
margin-bottom: 20px;
}
.d_a{
    margin-bottom: 20px;
}
.input-element-3 input{
    width: 97%;
height: 40px;
border-radius: 5px;
border: 1.5px solid #C4C4C4;
outline: none;
margin-bottom: 15px;
padding-left: 10px;

font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 300;
line-height: 20px;
letter-spacing: 0.25px;
text-align: left;

}
.dd{
    margin-bottom: 100px;
}
body{
    overflow-x: hidden !important;
}
#besh{
    display: none;
}

.input-element-3 p{

    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
font-size: 15px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.25px;
text-align: left;
color: #83A1C9;
margin-bottom: 10px;
}
.ddff{
    margin-bottom: 7px;
}
.img-file{
    display: flex;
    align-items:center ;
    gap: 10px;
    margin-bottom: 110px;
    position: relative;
    top: 10px;
}
.min-text span{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.25px;
text-align: left;
color: #83A1C9;

}
.main-2{
    display: none;
}
.bu{
        width: 96%;
        margin: auto;
        display: block;
        padding-top: 10px;
}
/* body{
    background: #EEEEEE;
} */
.info-white{
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px 0px #00000040;
padding: 8px;
border-radius: 8px;
margin-bottom: 20px;
}
.marg{
    margin-bottom: 5px;
}
.namea{
    display: flex;
    align-items: center;
    gap: 5px;
}
.namea span{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
font-size: 14px;
font-weight: 300;
line-height: 20px;
letter-spacing: 0.0025em;
text-align: left;
color: #444444;
position: relative;
top: -10px;
}
.img-in{
    width: 100%;
    height: 160px;
    background: url('../image/Пикча.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
 
}
.img-in-2{
    width: 100%;
    height: 160px;
    background: url('../image/Пикча\ \(1\).png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
margin-bottom: 10px;
}
.img-min-text p{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.0025em;
text-align: left;
color: #444444;
margin-bottom: 10px;
}
.bnt-big{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.bnt-big button{
    padding: 4px;
    border: 0.5px solid #b1b1b1;
    background: none;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
font-size: 12px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0.005em;
text-align: left;
color: #7C7C7C;
border-radius: 5px;
outline: none;
}
.vatch p{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0.0025em;
text-align: left;
color: #83A1C9;
margin-bottom: 10px;
}

.rtrt{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.0025em;
    text-align: left;
    color: #444444;
}
.rtrt{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.0025em;
    text-align: left;
    color: #444444;
    margin-bottom: 5px;
}
#sdsds{
    margin-bottom: 40px;
}
.thanks{
    display: none;
    width: 70%;
    margin: auto;
}
.molad{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.ijiij{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.0025em;
    text-align: center;
    color: #444444;
    margin-bottom: 15px; 
}
.text-thanks button{
    padding: 10px;
    background: #2F80ED;
border: none;
outline: none;
box-shadow: 0px 2px 4px 0px #00000026;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-size: 15px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.0025em;
text-align: center;
color: white;
border-radius: 8px;

}
.filter-block-2{
    height: auto;
    
}
.select-middle{
    margin-bottom: 70px;
    background: #fff;
}
.select-middle2{
    width: 100%;
    height: 40px;
    margin-bottom: 70px;
    
}
.tepa-block{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    height: 45px;
    border: 1px solid #C4C4C4;
    border-radius: 8px;
}
.name-tepa span{
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
font-size: 15px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.0025em;
text-align: left;
color: #444444;
}
.name-icon i{
    font-size: 20px;
   position: relative;
   right: 15px;
   top: 1px;
}
#pas{
    display: none;
}
.name-tepa{
    position: relative;
    left: 15px;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center ;
}
#vaprosNone{
    display: none;
}
#pakazad{
    display: none;
}
#pakazad1{
    display: none;
}
.modal-vapros{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.494);
    z-index: 122;
}
.modal-vapros2{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.494);
    z-index: 122;
}
.vapros-df{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vapros-dv{
    width: 90%;
    border-radius: 16px;
    padding: 16px;
    background: #fff;
  
}
.span1-vapros{

    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
font-size: 13px;
font-weight: 300;
line-height: 16px;
letter-spacing: 0.004em;
text-align: left;
margin-bottom: 10px;
}
.span2-vapros{
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
font-size: 13px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0.004em;
text-align: left;
}
.vapros-block-1{
    margin-bottom: 15px;
}
.ul-vapros{
    position: relative;
    left: 25px;
    margin-bottom: 10px;
    padding-top: 5px;
}
/* .ss{
    position: relative;
    top: -20px;
} */
.dfff{
    margin-bottom: 10px !important;
}
.vapros-block-2 button{
    padding: 10px;
    background: #2F80ED;
    box-shadow: 0px 2px 4px 0px #00000026;
    border: none;
    border-radius: 8px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.25px;
text-align: center;

}
.vapros-block-2{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.menu-navbar{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.494);
}
.menu-nav{
    display: flex;
    justify-content: end;

}
.menu-block{
    width: 200px;
    height: auto;
background: #fff;
position: relative;
top: 00px;
right: 21px;
border-radius: 8px;
overflow: hidden;
}
.menu-block-t1{
width: 100%;
height: 56px;
display: flex;
align-items: center;
position: relative;
left: 20px;
gap: 15px;
}
.name-menu span{
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.0025em;
text-align: left;
color: #444444;
}
.count-menu span{
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.0025em;
text-align: left;
color: #444444;

}
.line-menu{
    width: 100%;
    height: 1px;
    background: #F4F4F4;
}
#menuNav{
    display: none;
}
.x-close{
    display: flex;
    justify-content: end;
    padding: 20px;
    font-size: 28px;
    color: white;
    
}
#vaprosNone2{
    display: none;
}



}
@media (max-width:418px) {
    .input-variant input {
        width: 80%;
        height: 45px;
    }
}
@media (max-width:495px) {
    .line-avtive-1,
    .line-avtive-2,
    .line-avtive-3,
    .line-avtive-4,
    .line-avtive-5,
    .line-avtive-6 
        {
        width: 70px;
    }
    .input-checkbox1{
        width: 17px;
        height: 17px;
        border: 3px solid #000000;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .input-checkbox1 span{
        font-size:20px;
        position: relative;
        top: 1px;
    }
    .input-checkbox1 span {
        display: none;
    }
    
    .input-checkbox1.active span {
        display: flex;
    }
    .input-checkbox2{
        width: 17px;
        height: 17px;
        border: 3px solid #000000;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .input-checkbox2 span{
        font-size:20px;
        position: relative;
        top: 1px;
    }
    .input-checkbox2 span {
        display: none;
    }
    
    .input-checkbox2.active span {
        display: flex;
    }
    .input-checkbox5{
        width: 17px;
        height: 17px;
        border: 3px solid #000000;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .input-checkbox5 span{
        font-size:20px;
        position: relative;
        top: 1px;
    }
    .input-checkbox5 span {
        display: none;
    }
    
    .input-checkbox5.active span {
        display: flex;
    }
}
@media (max-width:460px) {
    .line-avtive-1,
    .line-avtive-2,
    .line-avtive-3,
    .line-avtive-4,
    .line-avtive-5,
    .line-avtive-6 
        {
        width: 62px;
    } 
}
@media (max-width:405px) {
    .line-avtive-1,
    .line-avtive-2,
    .line-avtive-3,
    .line-avtive-4,
    .line-avtive-5,
    .line-avtive-6 
        {
        width: 55px;
    }  
}